In [1]:
sc

# Load sokulee json data

In [2]:
df_sleep = spark.read.json('/home/datascience/sokulee/*/*_sleep.json')
df_steps = spark.read.json('/home/datascience/sokulee/*/*_steps.json')
df_heart = spark.read.json('/home/datascience/sokulee/*/*_heart.json')

In [3]:
df_sleep.printSchema()

root
 |-- sleep: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- awakeCount: long (nullable = true)
 |    |    |-- awakeDuration: long (nullable = true)
 |    |    |-- awakeningsCount: long (nullable = true)
 |    |    |-- dateOfSleep: string (nullable = true)
 |    |    |-- duration: long (nullable = true)
 |    |    |-- efficiency: long (nullable = true)
 |    |    |-- isMainSleep: boolean (nullable = true)
 |    |    |-- logId: long (nullable = true)
 |    |    |-- minuteData: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- dateTime: string (nullable = true)
 |    |    |    |    |-- value: string (nullable = true)
 |    |    |-- minutesAfterWakeup: long (nullable = true)
 |    |    |-- minutesAsleep: long (nullable = true)
 |    |    |-- minutesAwake: long (nullable = true)
 |    |    |-- minutesToFallAsleep: long (nullable = true)
 |    |    |-- restlessCount: long (nullable = true)
 |    |    |-- restlessDuration: long (nullable = true)
 |    |    |-- startTime: string (nullable = true)
 |    |    |-- timeInBed: long (nullable = true)
 |-- summary: struct (nullable = true)
 |    |-- totalMinutesAsleep: long (nullable = true)
 |    |-- totalSleepRecords: long (nullable = true)
 |    |-- totalTimeInBed: long (nullable = true)

In [4]:
df_steps.printSchema()

root
 |-- activities-steps: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- dateTime: string (nullable = true)
 |    |    |-- value: string (nullable = true)
 |-- activities-steps-intraday: struct (nullable = true)
 |    |-- dataset: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- time: string (nullable = true)
 |    |    |    |-- value: long (nullable = true)
 |    |-- datasetInterval: long (nullable = true)
 |    |-- datasetType: string (nullable = true)
 |-- errors: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- errorType: string (nullable = true)
 |    |    |-- message: string (nullable = true)
 |-- success: boolean (nullable = true)

In [5]:
df_heart.printSchema()

root
 |-- activities-heart: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- dateTime: string (nullable = true)
 |    |    |-- value: struct (nullable = true)
 |    |    |    |-- customHeartRateZones: array (nullable = true)
 |    |    |    |    |-- element: string (containsNull = true)
 |    |    |    |-- heartRateZones: array (nullable = true)
 |    |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |    |-- caloriesOut: double (nullable = true)
 |    |    |    |    |    |-- max: long (nullable = true)
 |    |    |    |    |    |-- min: long (nullable = true)
 |    |    |    |    |    |-- minutes: long (nullable = true)
 |    |    |    |    |    |-- name: string (nullable = true)
 |    |    |    |-- restingHeartRate: long (nullable = true)
 |-- activities-heart-intraday: struct (nullable = true)
 |    |-- dataset: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- time: string (nullable = true)
 |    |    |    |-- value: long (nullable = true)
 |    |-- datasetInterval: long (nullable = true)
 |    |-- datasetType: string (nullable = true)

# Mean, Min, Max of data

In [6]:
from pyspark.sql.functions import *
from pyspark.sql import *

In [7]:
df_sleep.select(mean(df_sleep['summary']['totalMinutesAsleep']), min(df_sleep['summary']['totalMinutesAsleep']), max(df_sleep['summary']['totalMinutesAsleep'])).show()
df_sleep.select(mean(df_sleep['summary']['totalTimeInBed']), min(df_sleep['summary']['totalTimeInBed']), max(df_sleep['summary']['totalTimeInBed'])).show()

+----------------------------------+----------------------------------+----------------------------------+
|avg(summary['totalMinutesAsleep'])|min(summary['totalMinutesAsleep'])|max(summary['totalMinutesAsleep'])|
+----------------------------------+----------------------------------+----------------------------------+
|                306.74880239520957|                                 0|                              1199|
+----------------------------------+----------------------------------+----------------------------------+

+------------------------------+------------------------------+------------------------------+
|avg(summary['totalTimeInBed'])|min(summary['totalTimeInBed'])|max(summary['totalTimeInBed'])|
+------------------------------+------------------------------+------------------------------+
|            332.98952095808386|                             0|                          1219|
+------------------------------+------------------------------+------------------------------+

In [8]:
df_steps.select(mean(df_steps['activities-steps'][0]['value'])).show()

+---------------------------------+
|avg(activities-steps[0]['value'])|
+---------------------------------+
|               10478.834570834571|
+---------------------------------+

# K-means clustering with step, heart, sleep data

## Data processing

In [9]:
from pyspark.sql.types import *
import pandas as pd

In [10]:
base_path = '/home/datascience/sokulee/'
sokulee_dir = os.listdir(base_path)

data_cols = ['sleep', 'steps', 'heart']
datas = []

users_cols = ['user', 'sleep', 'steps', 'heart']
users_datas = []

for user in sokulee_dir:
    user_dir = base_path + user + '/'
    #print(user_dir)
    
    user_df_sleep = spark.read.json(user_dir + '*_sleep.json')
    user_df_steps = spark.read.json(user_dir + '*_steps.json')
    user_df_heart = spark.read.json(user_dir + '*_heart.json')
    
    print(user_dir)
    mean_of_sleep = user_df_sleep.select(mean(user_df_sleep['summary']['totalMinutesAsleep']))
    mean_of_steps = user_df_steps.select(mean(user_df_steps['activities-steps'][0]['value']))
    mean_of_heart = user_df_heart.select(
                    mean(user_df_heart['activities-heart'][0]['value']['heartRateZones'][0]['minutes'] +
                         user_df_heart['activities-heart'][0]['value']['heartRateZones'][1]['minutes'] +
                         user_df_heart['activities-heart'][0]['value']['heartRateZones'][2]['minutes'] +
                         user_df_heart['activities-heart'][0]['value']['heartRateZones'][3]['minutes']))
    
    #df.collect([mean_of_sleep.head()[0], mean_of_steps.head()[0], mean_of_heart.head()[0]])
    print(mean_of_sleep.head()[0])
    print(mean_of_steps.head()[0])
    print(mean_of_heart.head()[0])
    datas.append([mean_of_sleep.head()[0], mean_of_steps.head()[0], mean_of_heart.head()[0]])
    users_datas.append([user, mean_of_sleep.head()[0], mean_of_steps.head()[0], mean_of_heart.head()[0]])

/home/datascience/sokulee/A028/
401.3673469387755
8428.42
1173.9591836734694
/home/datascience/sokulee/A020/
295.265306122449
13525.16
1157.08
/home/datascience/sokulee/A026/
338.85714285714283
21405.82
1338.9
/home/datascience/sokulee/A053/
353.88
5784.46
1243.304347826087
/home/datascience/sokulee/A043/
360.76
19486.72
1244.28
/home/datascience/sokulee/A071/
271.52
8121.24
1055.7441860465117
/home/datascience/sokulee/A056/
295.54
10891.56
1259.72
/home/datascience/sokulee/A030/
253.48979591836735
9554.96
1147.96
/home/datascience/sokulee/A024/
214.6530612244898
15188.28
1093.62
/home/datascience/sokulee/A033/
175.0
8298.3
1155.7142857142858
/home/datascience/sokulee/A03/
376.9591836734694
7826.04
1157.32
/home/datascience/sokulee/A034/
339.88
7157.74
1129.8367346938776
/home/datascience/sokulee/A097/
186.28
5527.52
744.875
/home/datascience/sokulee/A032/
372.04
14578.32
1346.9
/home/datascience/sokulee/A045/
372.76
16718.14
1392.34
/home/datascience/sokulee/A057/
344.0
6383.9
834.2857142857143
/home/datascience/sokulee/A035/
272.02
10071.66
1141.1304347826087
/home/datascience/sokulee/A094/
326.04
13308.66
984.56
/home/datascience/sokulee/A017/
378.44897959183675
13953.38
1383.24
/home/datascience/sokulee/A065/
471.3673469387755
9293.2
1329.48
/home/datascience/sokulee/A021/
398.6938775510204
5806.48
1232.0
/home/datascience/sokulee/A052/
378.58
12779.857142857143
1338.88
/home/datascience/sokulee/A048/
321.46
5881.44
1298.86
/home/datascience/sokulee/A010/
393.265306122449
5334.5
1166.52
/home/datascience/sokulee/A096/
209.86
10045.66
1042.3243243243244
/home/datascience/sokulee/A031/
148.77551020408163
6506.02
1040.2666666666667
/home/datascience/sokulee/A050/
171.56
7605.64
1065.2727272727273
/home/datascience/sokulee/A018/
370.59183673469386
16010.18
1334.18
/home/datascience/sokulee/A040/
260.44
14548.76
1139.06
/home/datascience/sokulee/A083/
380.76
16051.74
1316.36
/home/datascience/sokulee/A073/
321.46
5900.836734693878
1298.86
/home/datascience/sokulee/A059/
226.32
6862.48
885.7045454545455
/home/datascience/sokulee/A044/
293.92
11611.56
1196.24
/home/datascience/sokulee/A029/
245.44897959183675
12526.12
929.5531914893617
/home/datascience/sokulee/A07/
398.51020408163265
11689.24
1383.88
/home/datascience/sokulee/A080/
390.734693877551
8267.06
1281.28
/home/datascience/sokulee/A01/
226.73469387755102
7030.36
956.439024390244
/home/datascience/sokulee/A098/
13.56
5904.54
1053.75
/home/datascience/sokulee/A016/
130.0204081632653
10710.52
959.175
/home/datascience/sokulee/A072/
421.6
9161.9
1341.72
/home/datascience/sokulee/A027/
471.3673469387755
9293.2
1329.48
/home/datascience/sokulee/A037/
402.78
8267.06
1281.28
/home/datascience/sokulee/A06/
367.14285714285717
13777.28
1318.66
/home/datascience/sokulee/A042/
328.22
11481.76
1183.0408163265306
/home/datascience/sokulee/A062/
213.18
16331.34
1073.8
/home/datascience/sokulee/A041/
350.2
8198.72
1342.1
/home/datascience/sokulee/A068/
399.06
11698.64
1371.14
/home/datascience/sokulee/A049/
427.82
6516.66
1402.24
/home/datascience/sokulee/A04/
330.9183673469388
13340.86
1312.32
/home/datascience/sokulee/A058/
427.12
5413.86
1235.4897959183672
/home/datascience/sokulee/A08/
379.55102040816325
12586.897959183674
1338.88
/home/datascience/sokulee/A022/
426.9591836734694
8788.12
1377.44
/home/datascience/sokulee/A05/
57.46938775510204
4116.3
944.0714285714286
/home/datascience/sokulee/A036/
299.16
4884.86
1310.1666666666667
/home/datascience/sokulee/A025/
271.81632653061223
21666.4
1292.0204081632653
/home/datascience/sokulee/A061/
223.25531914893617
9788.28
1042.3243243243244
/home/datascience/sokulee/A054/
342.38
16217.22
1325.34
/home/datascience/sokulee/A02/
186.79591836734693
6357.46
938.3333333333334
/home/datascience/sokulee/A093/
366.72
9983.86
1200.72
/home/datascience/sokulee/A063/
171.91836734693877
8298.3
1155.7142857142858
/home/datascience/sokulee/A084/
249.44
8866.2
1119.1632653061224
/home/datascience/sokulee/A047/
442.56
8274.74
1266.94
/home/datascience/sokulee/A092/
266.04
11198.24
1302.5
/home/datascience/sokulee/A060/
325.24
7714.6
1215.06
/home/datascience/sokulee/A039/
67.24
11269.14
759.5
/home/datascience/sokulee/A081/
335.02
8474.62
1289.94
/home/datascience/sokulee/A019/
380.44897959183675
16051.74
1316.36
/home/datascience/sokulee/A038/
267.92
15505.68
1186.22

In [11]:
data_df = pd.DataFrame(datas, columns=data_cols).round(2)
user_df = pd.DataFrame(users_datas, columns=users_cols).round(2)

In [12]:
data_df.head()

    sleep     steps    heart
0  401.37   8428.42  1173.96
1  295.27  13525.16  1157.08
2  338.86  21405.82  1338.90
3  353.88   5784.46  1243.30
4  360.76  19486.72  1244.28

In [13]:
data_df['sleep'] = data_df['sleep'].map('1:{:.2f}'.format)
data_df['steps'] = data_df['steps'].map('2:{:.2f}'.format)
data_df['heart'] = data_df['heart'].map('3:{:.2f}'.format)
data_df

       sleep       steps      heart
0   1:401.37   2:8428.42  3:1173.96
1   1:295.27  2:13525.16  3:1157.08
2   1:338.86  2:21405.82  3:1338.90
3   1:353.88   2:5784.46  3:1243.30
4   1:360.76  2:19486.72  3:1244.28
5   1:271.52   2:8121.24  3:1055.74
6   1:295.54  2:10891.56  3:1259.72
7   1:253.49   2:9554.96  3:1147.96
8   1:214.65  2:15188.28  3:1093.62
9   1:175.00   2:8298.30  3:1155.71
10  1:376.96   2:7826.04  3:1157.32
11  1:339.88   2:7157.74  3:1129.84
12  1:186.28   2:5527.52   3:744.88
13  1:372.04  2:14578.32  3:1346.90
14  1:372.76  2:16718.14  3:1392.34
15  1:344.00   2:6383.90   3:834.29
16  1:272.02  2:10071.66  3:1141.13
17  1:326.04  2:13308.66   3:984.56
18  1:378.45  2:13953.38  3:1383.24
19  1:471.37   2:9293.20  3:1329.48
20  1:398.69   2:5806.48  3:1232.00
21  1:378.58  2:12779.86  3:1338.88
22  1:321.46   2:5881.44  3:1298.86
23  1:393.27   2:5334.50  3:1166.52
24  1:209.86  2:10045.66  3:1042.32
25  1:148.78   2:6506.02  3:1040.27
26  1:171.56   2:7605.64  3:1065.27
27  1:370.59  2:16010.18  3:1334.18
28  1:260.44  2:14548.76  3:1139.06
29  1:380.76  2:16051.74  3:1316.36
..       ...         ...        ...
38  1:130.02  2:10710.52   3:959.18
39  1:421.60   2:9161.90  3:1341.72
40  1:471.37   2:9293.20  3:1329.48
41  1:402.78   2:8267.06  3:1281.28
42  1:367.14  2:13777.28  3:1318.66
43  1:328.22  2:11481.76  3:1183.04
44  1:213.18  2:16331.34  3:1073.80
45  1:350.20   2:8198.72  3:1342.10
46  1:399.06  2:11698.64  3:1371.14
47  1:427.82   2:6516.66  3:1402.24
48  1:330.92  2:13340.86  3:1312.32
49  1:427.12   2:5413.86  3:1235.49
50  1:379.55  2:12586.90  3:1338.88
51  1:426.96   2:8788.12  3:1377.44
52   1:57.47   2:4116.30   3:944.07
53  1:299.16   2:4884.86  3:1310.17
54  1:271.82  2:21666.40  3:1292.02
55  1:223.26   2:9788.28  3:1042.32
56  1:342.38  2:16217.22  3:1325.34
57  1:186.80   2:6357.46   3:938.33
58  1:366.72   2:9983.86  3:1200.72
59  1:171.92   2:8298.30  3:1155.71
60  1:249.44   2:8866.20  3:1119.16
61  1:442.56   2:8274.74  3:1266.94
62  1:266.04  2:11198.24  3:1302.50
63  1:325.24   2:7714.60  3:1215.06
64   1:67.24  2:11269.14   3:759.50
65  1:335.02   2:8474.62  3:1289.94
66  1:380.45  2:16051.74  3:1316.36
67  1:267.92  2:15505.68  3:1186.22

[68 rows x 3 columns]

In [14]:
#df.to_csv('avr.csv', index=False)
data_df.to_csv('avr.txt', sep=' ', header=False)

In [15]:
from pyspark.ml.clustering import KMeans

In [16]:
# Loads data.
#dataset = spark.read.format("libsvm").load("data/mllib/sample_kmeans_data.txt")
''' Data format
0 1:0.0 2:0.0 3:0.0
1 1:0.1 2:0.1 3:0.1
2 1:0.2 2:0.2 3:0.2
3 1:9.0 2:9.0 3:9.0
4 1:9.1 2:9.1 3:9.1
5 1:9.2 2:9.2 3:9.2
'''
dataset = spark.read.format("libsvm").load('avr.txt')

In [17]:
# Trains a k-means model.
kmeans = KMeans().setK(3).setSeed(1)
model = kmeans.fit(dataset)

# Evaluate clustering by computing Within Set Sum of Squared Errors.
wssse = model.computeCost(dataset)
print("Within Set Sum of Squared Errors = " + str(wssse))

# Shows the result.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Within Set Sum of Squared Errors = 175615540.264462
Cluster Centers:
[  309.65529412  7192.55235294  1166.25294118]
[   318.97        16904.64153846   1261.49076923]
[   295.49047619  11704.44285714   1178.70571429]

# Euclidean distance

In [18]:
user_df

    user   sleep     steps    heart
0   A028  401.37   8428.42  1173.96
1   A020  295.27  13525.16  1157.08
2   A026  338.86  21405.82  1338.90
3   A053  353.88   5784.46  1243.30
4   A043  360.76  19486.72  1244.28
5   A071  271.52   8121.24  1055.74
6   A056  295.54  10891.56  1259.72
7   A030  253.49   9554.96  1147.96
8   A024  214.65  15188.28  1093.62
9   A033  175.00   8298.30  1155.71
10   A03  376.96   7826.04  1157.32
11  A034  339.88   7157.74  1129.84
12  A097  186.28   5527.52   744.88
13  A032  372.04  14578.32  1346.90
14  A045  372.76  16718.14  1392.34
15  A057  344.00   6383.90   834.29
16  A035  272.02  10071.66  1141.13
17  A094  326.04  13308.66   984.56
18  A017  378.45  13953.38  1383.24
19  A065  471.37   9293.20  1329.48
20  A021  398.69   5806.48  1232.00
21  A052  378.58  12779.86  1338.88
22  A048  321.46   5881.44  1298.86
23  A010  393.27   5334.50  1166.52
24  A096  209.86  10045.66  1042.32
25  A031  148.78   6506.02  1040.27
26  A050  171.56   7605.64  1065.27
27  A018  370.59  16010.18  1334.18
28  A040  260.44  14548.76  1139.06
29  A083  380.76  16051.74  1316.36
..   ...     ...       ...      ...
38  A016  130.02  10710.52   959.18
39  A072  421.60   9161.90  1341.72
40  A027  471.37   9293.20  1329.48
41  A037  402.78   8267.06  1281.28
42   A06  367.14  13777.28  1318.66
43  A042  328.22  11481.76  1183.04
44  A062  213.18  16331.34  1073.80
45  A041  350.20   8198.72  1342.10
46  A068  399.06  11698.64  1371.14
47  A049  427.82   6516.66  1402.24
48   A04  330.92  13340.86  1312.32
49  A058  427.12   5413.86  1235.49
50   A08  379.55  12586.90  1338.88
51  A022  426.96   8788.12  1377.44
52   A05   57.47   4116.30   944.07
53  A036  299.16   4884.86  1310.17
54  A025  271.82  21666.40  1292.02
55  A061  223.26   9788.28  1042.32
56  A054  342.38  16217.22  1325.34
57   A02  186.80   6357.46   938.33
58  A093  366.72   9983.86  1200.72
59  A063  171.92   8298.30  1155.71
60  A084  249.44   8866.20  1119.16
61  A047  442.56   8274.74  1266.94
62  A092  266.04  11198.24  1302.50
63  A060  325.24   7714.60  1215.06
64  A039   67.24  11269.14   759.50
65  A081  335.02   8474.62  1289.94
66  A019  380.45  16051.74  1316.36
67  A038  267.92  15505.68  1186.22

[68 rows x 4 columns]

In [19]:
me = pd.Series(['A000', 300, 9500, 1100], index = ['user', 'sleep', 'steps', 'heart'])

In [20]:
import math

def euclidean_distance(a, b):    
    return math.sqrt( (a['sleep'] - b['sleep'])**2 + 
                      (a['steps'] - b['steps'])**2 + 
                      (a['heart'] - b['heart'])**2  )

def norm_euclidean_distance(a, b):
    return 1 / (euclidean_distance(a, b) + 1)

In [21]:
normoalized_dist = -1
nearest_user = 'A00'
for index, row in user_df.iterrows():
    dist = norm_euclidean_distance(me, row)
    if normoalized_dist < dist:
        normoalized_dist = dist
        nearest_user = row['user']

print("Nearest user is %s, normalized_dist = %.10f" %(nearest_user, normoalized_dist))

Nearest user is A030, normalized_dist = 0.0114272932