In [2]:
from pyspark.sql.functions import mean, min, max
import pandas as pd
import csv

In [2]:
df_sleep = spark.read.json('/home/hadoop01/sokulee/*/*_sleep.json')

KeyboardInterrupt:

In [4]:
df_sleep.printSchema()

root
 |-- sleep: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- awakeCount: long (nullable = true)
 |    |    |-- awakeDuration: long (nullable = true)
 |    |    |-- awakeningsCount: long (nullable = true)
 |    |    |-- dateOfSleep: string (nullable = true)
 |    |    |-- duration: long (nullable = true)
 |    |    |-- efficiency: long (nullable = true)
 |    |    |-- isMainSleep: boolean (nullable = true)
 |    |    |-- logId: long (nullable = true)
 |    |    |-- minuteData: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- dateTime: string (nullable = true)
 |    |    |    |    |-- value: string (nullable = true)
 |    |    |-- minutesAfterWakeup: long (nullable = true)
 |    |    |-- minutesAsleep: long (nullable = true)
 |    |    |-- minutesAwake: long (nullable = true)
 |    |    |-- minutesToFallAsleep: long (nullable = true)
 |    |    |-- restlessCount: long (nullable = true)
 |    |    |-- restlessDuration: long (nullable = true)
 |    |    |-- startTime: string (nullable = true)
 |    |    |-- timeInBed: long (nullable = true)
 |-- summary: struct (nullable = true)
 |    |-- totalMinutesAsleep: long (nullable = true)
 |    |-- totalSleepRecords: long (nullable = true)
 |    |-- totalTimeInBed: long (nullable = true)

In [5]:
df_sleep.select(mean(df_sleep['summary']["totalMinutesAsleep"]), min(df_sleep['summary']["totalMinutesAsleep"]), max(df_sleep['summary']["totalMinutesAsleep"])).show()

+----------------------------------+----------------------------------+----------------------------------+
|avg(summary['totalMinutesAsleep'])|min(summary['totalMinutesAsleep'])|max(summary['totalMinutesAsleep'])|
+----------------------------------+----------------------------------+----------------------------------+
|                306.74880239520957|                                 0|                              1199|
+----------------------------------+----------------------------------+----------------------------------+

# 데이터 가져오기 그리고 하루 평균으로 구하기

In [2]:
steps = []
user = []
sleep = []
hearts = []

In [3]:
dirs = []
for file in os.listdir("/home/hadoop01/sokulee"):
    if file != '.DS_Store':
        dirs.append("sokulee/" + file)
        user.append(file)

In [9]:
user

['A049',
 'A096',
 'A068',
 'A040',
 'A050',
 'A098',
 'A020',
 'A07',
 'A010',
 'A058',
 'A053',
 'A083',
 'A05',
 'A041',
 'A034',
 'A048',
 'A017',
 'A080',
 'A08',
 'A01',
 'A026',
 'A021',
 'A037',
 'A06',
 'A063',
 'A061',
 'A036',
 'A094',
 'A039',
 'A062',
 'A043',
 'A060',
 'A029',
 'A092',
 'A025',
 'A073',
 'A018',
 'A04',
 'A019',
 'A024',
 'A031',
 'A065',
 'A054',
 'A093',
 'A045',
 'A081',
 'A016',
 'A032',
 'A02',
 'A03',
 'A035',
 'A056',
 'A028',
 'A038',
 'A059',
 'A030',
 'A033',
 'A044',
 'A022',
 'A052',
 'A084',
 'A057',
 'A072',
 'A042',
 'A071',
 'A027',
 'A097',
 'A047']

In [4]:
for dir in dirs:
    user_steps = spark.read.json(dir + "/*_steps.json" )
    user_sleep = spark.read.json(dir + "/*_sleep.json" )
    user_heart = spark.read.json(dir + "/*_heart.json" )
    
    print(dir)
    
    step_mean = user_steps.select(mean(user_steps['activities-steps'][0]['value']))
    sleep_mean = user_sleep.select(mean(user_sleep['summary']['totalMinutesAsleep']))
    heart_mean = user_heart.select(mean(user_heart['activities-heart'][0]['value']['heartRateZones'][0]['minutes'] +
                                        user_heart['activities-heart'][0]['value']['heartRateZones'][1]['minutes'] +
                                        user_heart['activities-heart'][0]['value']['heartRateZones'][2]['minutes'] + 
                                        user_heart['activities-heart'][0]['value']['heartRateZones'][3]['minutes']))
    
    steps.append(step_mean.head()[0])
    sleep.append(sleep_mean.head()[0])
    hearts.append(heart_mean.head()[0])

sokulee/A049
sokulee/A096
sokulee/A068
sokulee/A040
sokulee/A050
sokulee/A098
sokulee/A020
sokulee/A07
sokulee/A010
sokulee/A058
sokulee/A053
sokulee/A083
sokulee/A05
sokulee/A041
sokulee/A034
sokulee/A048
sokulee/A017
sokulee/A080
sokulee/A08
sokulee/A01
sokulee/A026
sokulee/A021
sokulee/A037
sokulee/A06
sokulee/A063
sokulee/A061
sokulee/A036
sokulee/A094
sokulee/A039
sokulee/A062
sokulee/A043
sokulee/A060
sokulee/A029
sokulee/A092
sokulee/A025
sokulee/A073
sokulee/A018
sokulee/A04
sokulee/A019
sokulee/A024
sokulee/A031
sokulee/A065
sokulee/A054
sokulee/A093
sokulee/A045
sokulee/A081
sokulee/A016
sokulee/A032
sokulee/A02
sokulee/A03
sokulee/A035
sokulee/A056
sokulee/A028
sokulee/A038
sokulee/A059
sokulee/A030
sokulee/A033
sokulee/A044
sokulee/A022
sokulee/A052
sokulee/A084
sokulee/A057
sokulee/A072
sokulee/A042
sokulee/A071
sokulee/A027
sokulee/A097
sokulee/A047

# top step 과 top sleep 의 유클리디안으로 5명 구하기

In [22]:
data = pd.DataFrame({"user" : user , "steps" : steps , "sleep" : sleep}).round(2)

In [27]:
data.sort_values('steps', ascending=False, inplace=True)
top_step_data = data[:1]
top_step_data

     sleep    steps  user
34  271.82  21666.4  A025

In [28]:
data.sort_values('sleep', ascending=False, inplace=True)
top_sleep_data = data[:1]
top_sleep_data

     sleep   steps  user
65  471.37  9293.2  A027

In [30]:
import math

def euclidean_distance(a, b):    
    return math.sqrt( (a['sleep'] - b['sleep'])**2 + 
                      (a['steps'] - b['steps'])**2 )

def norm_euclidean_distance(a, b):
    return 1 / (euclidean_distance(a, b) + 1)

In [39]:
top5_step = []
top5_sleep = []

In [40]:
for index, row in data.iterrows():
    dist = norm_euclidean_distance(top_sleep_data, row)
    top5_sleep.append(dist)

In [41]:
for index, row in data.iterrows():
    dist = norm_euclidean_distance(top_step_data, row)
    top5_step.append(dist)

In [42]:
data['top5_step'] = top5_step

In [44]:
data['top5_sleep'] = top5_sleep

In [48]:
data.sort_values('top5_step', ascending=False, inplace=True)
top_sleep_data = data[1:6]
top_sleep_data

     sleep     steps  user  top5_step  top5_sleep
20  338.86  21405.82  A026   0.003703    0.000083
30  360.76  19486.72  A043   0.000458    0.000098
44  372.76  16718.14  A045   0.000202    0.000135
29  213.18  16331.34  A062   0.000187    0.000142
42  342.38  16217.22  A054   0.000183    0.000144

In [49]:
data.sort_values('top5_sleep', ascending=False, inplace=True)
top_sleep_data = data[1:6]
top_sleep_data

     sleep    steps  user  top5_step  top5_sleep
41  471.37  9293.20  A065   0.000081    1.000000
62  421.60  9161.90  A072   0.000080    0.007071
55  253.49  9554.96  A030   0.000083    0.002928
60  249.44  8866.20  A084   0.000078    0.002074
58  426.96  8788.12  A022   0.000078    0.001968

# 끝

# k mean 클러스터링

In [ ]:
data = pd.DataFrame({"user" : user , "steps" : steps , "sleep" : sleep, "hearts" : hearts}).round(2)

In [24]:
k_data = pd.DataFrame({"steps" : steps , "sleep" : sleep, "hearts" : hearts}).round(2)

In [45]:
data

     sleep     steps  user  top5_step  top5_sleep
65  471.37   9293.20  A027   0.000081    1.000000
41  471.37   9293.20  A065   0.000081    1.000000
67  442.56   8274.74  A047   0.000075    0.000981
0   427.82   6516.66  A049   0.000066    0.000360
9   427.12   5413.86  A058   0.000062    0.000258
58  426.96   8788.12  A022   0.000078    0.001968
62  421.60   9161.90  A072   0.000080    0.007071
22  402.78   8267.06  A037   0.000075    0.000971
52  401.37   8428.42  A028   0.000076    0.001151
2   399.06  11698.64  A068   0.000100    0.000415
21  398.69   5806.48  A021   0.000063    0.000287
7   398.51  11689.24   A07   0.000100    0.000417
8   393.27   5334.50  A010   0.000061    0.000252
17  390.73   8267.06  A080   0.000075    0.000971
11  380.76  16051.74  A083   0.000178    0.000148
38  380.45  16051.74  A019   0.000178    0.000148
18  379.55  12586.90   A08   0.000110    0.000303
59  378.58  12779.86  A052   0.000113    0.000287
16  378.45  13953.38  A017   0.000130    0.000214
49  376.96   7826.04   A03   0.000072    0.000680
44  372.76  16718.14  A045   0.000202    0.000135
47  372.04  14578.32  A032   0.000141    0.000189
36  370.59  16010.18  A018   0.000177    0.000149
23  367.14  13777.28   A06   0.000127    0.000223
43  366.72   9983.86  A093   0.000086    0.001430
30  360.76  19486.72  A043   0.000458    0.000098
10  353.88   5784.46  A053   0.000063    0.000285
13  350.20   8198.72  A041   0.000074    0.000907
61  344.00   6383.90  A057   0.000065    0.000343
42  342.38  16217.22  A054   0.000183    0.000144
..     ...       ...   ...        ...         ...
15  321.46   5881.44  A048   0.000063    0.000293
26  299.16   4884.86  A036   0.000060    0.000227
51  295.54  10891.56  A056   0.000093    0.000622
6   295.27  13525.16  A020   0.000123    0.000236
57  293.92  11611.56  A044   0.000099    0.000430
50  272.02  10071.66  A035   0.000086    0.001243
34  271.82  21666.40  A025   1.000000    0.000081
64  271.52   8121.24  A071   0.000074    0.000840
53  267.92  15505.68  A038   0.000162    0.000161
33  266.04  11198.24  A092   0.000096    0.000522
3   260.44  14548.76  A040   0.000140    0.000190
55  253.49   9554.96  A030   0.000083    0.002928
60  249.44   8866.20  A084   0.000078    0.002074
32  245.45  12526.12  A029   0.000109    0.000308
19  226.73   7030.36   A01   0.000068    0.000439
54  226.32   6862.48  A059   0.000068    0.000409
25  223.26   9788.28  A061   0.000084    0.001803
39  214.65  15188.28  A024   0.000154    0.000169
29  213.18  16331.34  A062   0.000187    0.000142
1   209.86  10045.66  A096   0.000086    0.001254
48  186.80   6357.46   A02   0.000065    0.000339
66  186.28   5527.52  A097   0.000062    0.000265
56  175.00   8298.30  A033   0.000075    0.000962
24  171.92   8298.30  A063   0.000075    0.000962
4   171.56   7605.64  A050   0.000071    0.000583
40  148.78   6506.02  A031   0.000066    0.000356
46  130.02  10710.52  A016   0.000091    0.000685
28   67.24  11269.14  A039   0.000096    0.000496
12   57.47   4116.30   A05   0.000057    0.000193
5    13.56   5904.54  A098   0.000063    0.000292

[68 rows x 5 columns]

In [25]:
k_data['hearts'] = k_data['hearts'].map('1:{:.2f}'.format)
k_data['sleep'] = k_data['sleep'].map('2:{:.2f}'.format)
k_data['steps'] = k_data['steps'].map('3:{:.2f}'.format)
k_data

       hearts     sleep       steps
0   1:1402.24  2:427.82   3:6516.66
1   1:1042.32  2:209.86  3:10045.66
2   1:1371.14  2:399.06  3:11698.64
3   1:1139.06  2:260.44  3:14548.76
4   1:1065.27  2:171.56   3:7605.64
5   1:1053.75   2:13.56   3:5904.54
6   1:1157.08  2:295.27  3:13525.16
7   1:1383.88  2:398.51  3:11689.24
8   1:1166.52  2:393.27   3:5334.50
9   1:1235.49  2:427.12   3:5413.86
10  1:1243.30  2:353.88   3:5784.46
11  1:1316.36  2:380.76  3:16051.74
12   1:944.07   2:57.47   3:4116.30
13  1:1342.10  2:350.20   3:8198.72
14  1:1129.84  2:339.88   3:7157.74
15  1:1298.86  2:321.46   3:5881.44
16  1:1383.24  2:378.45  3:13953.38
17  1:1281.28  2:390.73   3:8267.06
18  1:1338.88  2:379.55  3:12586.90
19   1:956.44  2:226.73   3:7030.36
20  1:1338.90  2:338.86  3:21405.82
21  1:1232.00  2:398.69   3:5806.48
22  1:1281.28  2:402.78   3:8267.06
23  1:1318.66  2:367.14  3:13777.28
24  1:1155.71  2:171.92   3:8298.30
25  1:1042.32  2:223.26   3:9788.28
26  1:1310.17  2:299.16   3:4884.86
27   1:984.56  2:326.04  3:13308.66
28   1:759.50   2:67.24  3:11269.14
29  1:1073.80  2:213.18  3:16331.34
..        ...       ...         ...
38  1:1316.36  2:380.45  3:16051.74
39  1:1093.62  2:214.65  3:15188.28
40  1:1040.27  2:148.78   3:6506.02
41  1:1329.48  2:471.37   3:9293.20
42  1:1325.34  2:342.38  3:16217.22
43  1:1200.72  2:366.72   3:9983.86
44  1:1392.34  2:372.76  3:16718.14
45  1:1289.94  2:335.02   3:8474.62
46   1:959.18  2:130.02  3:10710.52
47  1:1346.90  2:372.04  3:14578.32
48   1:938.33  2:186.80   3:6357.46
49  1:1157.32  2:376.96   3:7826.04
50  1:1141.13  2:272.02  3:10071.66
51  1:1259.72  2:295.54  3:10891.56
52  1:1173.96  2:401.37   3:8428.42
53  1:1186.22  2:267.92  3:15505.68
54   1:885.70  2:226.32   3:6862.48
55  1:1147.96  2:253.49   3:9554.96
56  1:1155.71  2:175.00   3:8298.30
57  1:1196.24  2:293.92  3:11611.56
58  1:1377.44  2:426.96   3:8788.12
59  1:1338.88  2:378.58  3:12779.86
60  1:1119.16  2:249.44   3:8866.20
61   1:834.29  2:344.00   3:6383.90
62  1:1341.72  2:421.60   3:9161.90
63  1:1183.04  2:328.22  3:11481.76
64  1:1055.74  2:271.52   3:8121.24
65  1:1329.48  2:471.37   3:9293.20
66   1:744.88  2:186.28   3:5527.52
67  1:1266.94  2:442.56   3:8274.74

[68 rows x 3 columns]

In [28]:
#k_mean를 하기위해 txt 파일로 저장하는 것
k_data.to_csv('avr.txt', sep=' ', header=False)

# k_mean 하기

In [18]:
from pyspark.ml.clustering import KMeans

In [19]:
dataset = spark.read.format("libsvm").load('avr.txt')

In [20]:
# 뭉쳐져있는 각각의 data 중에서 중심인 4개를 뽑아냄
#setK 의 값에 따라 중심 값의 수를 뽑아낸다.
# k means 하기
kmeans = KMeans().setK(4).setSeed(1)
model = kmeans.fit(dataset)

# Evaluate clustering by computing Within Set Sum of Squared Errors.
wssse = model.computeCost(dataset)
print("Within Set Sum of Squared Errors = " + str(wssse))

# Shows the result.
centers = model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Within Set Sum of Squared Errors = 99560628.37097663
Cluster Centers:
[ 1107.633   277.322  6225.785]
[  1291.73333333    323.81333333  20852.98      ]
[ 1203.31814815   314.28666667  9630.59851852]
[  1238.18611111    326.47611111  14611.09      ]

# 유클리디안 하기

In [32]:
me = pd.Series([900, 500, 5000, 'A000'], index = ['hearts' , 'sleep', 'steps', 'user'])

In [35]:
import math

def euclidean_distance(a, b):    
    return math.sqrt( (a['sleep'] - b['sleep'])**2 + 
                      (a['steps'] - b['steps'])**2 + 
                      (a['hearts'] - b['hearts'])**2  )

def norm_euclidean_distance(a, b):
    return 1 / (euclidean_distance(a, b) + 1)

In [36]:
normoalized_dist = -1
nearest_user = 'A00'
for index, row in data.iterrows():
    dist = norm_euclidean_distance(me, row)
    if normoalized_dist < dist:
        normoalized_dist = dist
        nearest_user = row['user']

print("Nearest user is %s, normalized_dist = %.10f" %(nearest_user, normoalized_dist))

Nearest user is A010, normalized_dist = 0.0022634106

# 내가 속한 클러스터는 무엇인가?!?!?

In [21]:
import numpy as np
me = np.array([900, 500, 5000])

In [22]:
import math

def euclidean_distance(a, b):    
    return math.sqrt( (a[0] - b[0])**2 + 
                      (a[1] - b[1])**2 + 
                      (a[2] - b[2])**2  )

def norm_euclidean_distance(a, b):
    return 1 / (euclidean_distance(a, b) + 1)

In [26]:
normoalized_dist = -1
nearest_center = []
for center in centers:
    dist = norm_euclidean_distance(me, center)
    if normoalized_dist < dist:
        normoalized_dist = dist
        nearest_center = center

print("my 클러스터 :", nearest_center)

my 클러스터 : [ 1107.633   277.322  6225.785]

# movie 유클리디안

In [9]:
movies = pd.read_csv('top_user.csv')
top1 = movies[:1]

In [15]:
import math
from scipy.spatial import distance


def norm_euclidean_distance(a, b):
    return 1/(distance.euclidean(a,b)+1)

In [6]:
top5_count = []

In [16]:
for index, row in movies.iterrows():
    dist = norm_euclidean_distance(top1, row)
    top5_count.append(dist)

In [17]:
top5_count[:20]

[1.0,
 0.002150537634408602,
 0.0017482517482517483,
 0.001388888888888889,
 0.0012594458438287153,
 0.0012547051442910915,
 0.0010298661174047373,
 0.0010080645161290322,
 0.0009871668311944718,
 0.0009718172983479105,
 0.0009633911368015414,
 0.0009578544061302681,
 0.0009478672985781991,
 0.000946073793755913,
 0.0009328358208955224,
 0.0009302325581395349,
 0.0009182736455463728,
 0.0009132420091324201,
 0.0009099181073703367,
 0.0009057971014492754]