In [1]:
import pandas as pd
import datetime
import csv
import numpy as np
import matplotlib.image
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets

In [37]:
weather = pd.read_csv('./data_05.csv')
weather2 = pd.read_csv('./data_08.csv')

In [38]:
#coulnm 삭제
del weather['Unnamed: 5']
del weather['지점번호']
del weather['지점']
del weather2['Unnamed: 5']
del weather2['지점번호']
del weather2['지점']
weather2[:10]

            date  temperature  rain
0  2014-08-01 00         24.2   0.0
1  2014-08-01 01         24.2   0.0
2  2014-08-01 02         23.9   0.0
3  2014-08-01 03         23.6   0.0
4  2014-08-01 04         23.3   0.0
5  2014-08-01 05         23.2   0.0
6  2014-08-01 06         23.2   0.0
7  2014-08-01 07         23.9   0.0
8  2014-08-01 08         24.7   0.0
9  2014-08-01 09         25.9   0.0

In [39]:
weather['year'] = pd.DatetimeIndex(weather['date']).year
weather['month'] = pd.DatetimeIndex(weather['date']).month
weather['day'] = pd.DatetimeIndex(weather['date']).day
weather['hour'] = pd.DatetimeIndex(weather['date']).hour

In [40]:
weather2['year'] = pd.DatetimeIndex(weather2['date']).year
weather2['month'] = pd.DatetimeIndex(weather2['date']).month
weather2['day'] = pd.DatetimeIndex(weather2['date']).day
weather2['hour'] = pd.DatetimeIndex(weather2['date']).hour

In [41]:
df = pd.DataFrame(weather)
filename = 'weather_05.csv'
df.to_csv(filename, index=False, encoding='utf-8')

In [42]:
df = pd.DataFrame(weather2)
filename = 'weather_08.csv'
df.to_csv(filename, index=False, encoding='utf-8')